<html>
<head>
<title>Docs for page VCreazione.php</title>
<link rel="stylesheet" type="text/css" href="../media/style.css">
</head>
<body>

<table border="0" cellspacing="0" cellpadding="0" height="48" width="100%">
  <tr>
    <td class="header_top">View</td>
  </tr>
  <tr><td class="header_line"><img src="../media/empty.png" width="1" height="1" border="0" alt=""  /></td></tr>
  <tr>
    <td class="header_menu">
        
                                                                                                                    
                              		  [ <a href="../classtrees_View.html" class="menu">class tree: View</a> ]
		  [ <a href="../elementindex_View.html" class="menu">index: View</a> ]
		  	    [ <a href="../elementindex.html" class="menu">all elements</a> ]
    </td>
  </tr>
  <tr><td class="header_line"><img src="../media/empty.png" width="1" height="1" border="0" alt=""  /></td></tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="200" class="menu">
      <b>Packages:</b><br />
              <a href="../li_Controller.html">Controller</a><br />
              <a href="../li_Entity.html">Entity</a><br />
              <a href="../li_Foundation.html">Foundation</a><br />
              <a href="../li_Includes.html">Includes</a><br />
              <a href="../li_View.html">View</a><br />
            <br /><br />
                        <b>Files:</b><br />
      	  <div class="package">
			<a href="../View/_View---VAjax.php.html">		VAjax.php
		</a><br>
			<a href="../View/_View---VAmministratore.php.html">		VAmministratore.php
		</a><br>
			<a href="../View/_View---VCerca.php.html">		VCerca.php
		</a><br>
			<a href="../View/_View---VClassifiche.php.html">		VClassifiche.php
		</a><br>
			<a href="../View/_View---VCreazione.php.html">		VCreazione.php
		</a><br>
			<a href="../View/_View---VHome.php.html">		VHome.php
		</a><br>
			<a href="../View/_View---View.php.html">		View.php
		</a><br>
			<a href="../View/_View---VInstalla.php.html">		VInstalla.php
		</a><br>
			<a href="../View/_View---VProfilo.php.html">		VProfilo.php
		</a><br>
			<a href="../View/_View---VRegistrazione.php.html">		VRegistrazione.php
		</a><br>
			<a href="../View/_View---VVoti.php.html">		VVoti.php
		</a><br>
	  </div><br />
      
      
            <b>Classes:</b><br />
        <div class="package">
		    		<a href="../View/VAjax.html">VAjax</a><br />
	    		<a href="../View/VAmministratore.html">VAmministratore</a><br />
	    		<a href="../View/VCerca.html">VCerca</a><br />
	    		<a href="../View/VClassifiche.html">VClassifiche</a><br />
	    		<a href="../View/VCreazione.html">VCreazione</a><br />
	    		<a href="../View/VHome.html">VHome</a><br />
	    		<a href="../View/View.html">View</a><br />
	    		<a href="../View/VInstalla.html">VInstalla</a><br />
	    		<a href="../View/VProfilo.html">VProfilo</a><br />
	    		<a href="../View/VRegistrazione.html">VRegistrazione</a><br />
	    		<a href="../View/VVoti.html">VVoti</a><br />
	  </div>
                </td>
    <td>
      <table cellpadding="10" cellspacing="0" width="100%" border="0"><tr><td valign="top">

<h1>Procedural File: VCreazione.php</h1>
Source Location: /View/VCreazione.php<br /><br />

<br>
<br>

<div class="contents">
<h2>Classes:</h2>
<dt><a href="../View/VCreazione.html">VCreazione</a></dt>
	<dd></dd>
</div><br /><br />

<h2>Page Details:</h2>
<br /><br />
<br /><br />
<br /><br />
<br />

        <div class="credit">
		    <hr />
		    Documentation generated on Fri, 22 Jul 2011 12:03:46 +0200 by <a href="http://www.phpdoc.org">phpDocumentor 1.4.3</a>
	      </div>
      </td></tr></table>
    </td>
  </tr>
</table>

</body>
</html>