<html>
<head>
<title>Docs For Class VAmministratore</title>
<link rel="stylesheet" type="text/css" href="../media/style.css">
</head>
<body>

<table border="0" cellspacing="0" cellpadding="0" height="48" width="100%">
  <tr>
    <td class="header_top">View</td>
  </tr>
  <tr><td class="header_line"><img src="../media/empty.png" width="1" height="1" border="0" alt=""  /></td></tr>
  <tr>
    <td class="header_menu">
        
                                                                                                                    
                              		  [ <a href="../classtrees_View.html" class="menu">class tree: View</a> ]
		  [ <a href="../elementindex_View.html" class="menu">index: View</a> ]
		  	    [ <a href="../elementindex.html" class="menu">all elements</a> ]
    </td>
  </tr>
  <tr><td class="header_line"><img src="../media/empty.png" width="1" height="1" border="0" alt=""  /></td></tr>
</table>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr valign="top">
    <td width="200" class="menu">
      <b>Packages:</b><br />
              <a href="../li_Controller.html">Controller</a><br />
              <a href="../li_Entity.html">Entity</a><br />
              <a href="../li_Foundation.html">Foundation</a><br />
              <a href="../li_Includes.html">Includes</a><br />
              <a href="../li_View.html">View</a><br />
            <br /><br />
                        <b>Files:</b><br />
      	  <div class="package">
			<a href="../View/_View---VAjax.php.html">		VAjax.php
		</a><br>
			<a href="../View/_View---VAmministratore.php.html">		VAmministratore.php
		</a><br>
			<a href="../View/_View---VCerca.php.html">		VCerca.php
		</a><br>
			<a href="../View/_View---VClassifiche.php.html">		VClassifiche.php
		</a><br>
			<a href="../View/_View---VCreazione.php.html">		VCreazione.php
		</a><br>
			<a href="../View/_View---VHome.php.html">		VHome.php
		</a><br>
			<a href="../View/_View---View.php.html">		View.php
		</a><br>
			<a href="../View/_View---VInstalla.php.html">		VInstalla.php
		</a><br>
			<a href="../View/_View---VProfilo.php.html">		VProfilo.php
		</a><br>
			<a href="../View/_View---VRegistrazione.php.html">		VRegistrazione.php
		</a><br>
			<a href="../View/_View---VVoti.php.html">		VVoti.php
		</a><br>
	  </div><br />
      
      
            <b>Classes:</b><br />
        <div class="package">
		    		<a href="../View/VAjax.html">VAjax</a><br />
	    		<a href="../View/VAmministratore.html">VAmministratore</a><br />
	    		<a href="../View/VCerca.html">VCerca</a><br />
	    		<a href="../View/VClassifiche.html">VClassifiche</a><br />
	    		<a href="../View/VCreazione.html">VCreazione</a><br />
	    		<a href="../View/VHome.html">VHome</a><br />
	    		<a href="../View/View.html">View</a><br />
	    		<a href="../View/VInstalla.html">VInstalla</a><br />
	    		<a href="../View/VProfilo.html">VProfilo</a><br />
	    		<a href="../View/VRegistrazione.html">VRegistrazione</a><br />
	    		<a href="../View/VVoti.html">VVoti</a><br />
	  </div>
                </td>
    <td>
      <table cellpadding="10" cellspacing="0" width="100%" border="0"><tr><td valign="top">

<h1>Class: VAmministratore</h1>
Source Location: /View/VAmministratore.php<br /><br />


<table width="100%" border="0">
<tr><td valign="top">

<h3><a href="#class_details">Class Overview</a></h3>
<pre>Smarty
   |
   --<a href="../View/View.html">View</a>
      |
      --VAmministratore</pre><br />
<div class="description"></div><br /><br />
<h4>Author(s):</h4>
<ul>
        </ul>




    

        
</td>



<td valign="top">
<h3><a href="#class_methods">Methods</a></h3>
<ul>
    <li><a href="../View/VAmministratore.html#methodassegnaTabelle">assegnaTabelle</a></li>
    <li><a href="../View/VAmministratore.html#methodgetContenuto">getContenuto</a></li>
    <li><a href="../View/VAmministratore.html#methodgetErrore">getErrore</a></li>
    <li><a href="../View/VAmministratore.html#methodgetSuccesso">getSuccesso</a></li>
    <li><a href="../View/VAmministratore.html#methodimpostaAccessoNegato">impostaAccessoNegato</a></li>
    <li><a href="../View/VAmministratore.html#methodimpostaSuccesso">impostaSuccesso</a></li>
  </ul>
</td>

</tr></table>
<hr />

<table width="100%" border="0"><tr>





<td valign="top">
<h3>Inherited Methods</h3>
<div class="tags">
<h4>Class: <a href="../View/View.html">View</a></h4>
<dl>
    <dt>
    <a href="../View/View.html#method__construct">View::__construct()</a>
  </dt>
  <dd>
    Costruttore della classe
  </dd>
    <dt>
    <a href="../View/View.html#methodgetRequest">View::getRequest()</a>
  </dt>
  <dd>
    Questa funzione ritorna il valore  relativo all'indice passato relativo al
  </dd>
    <dt>
    <a href="../View/View.html#methodgetTask">View::getTask()</a>
  </dt>
  <dd>
    Questa funzione, restituisce il task inviato all'interno del vettore
  </dd>
    <dt>
    <a href="../View/View.html#methodimpostaUrl">View::impostaUrl()</a>
  </dt>
  <dd>
    
  </dd>
    <dt>
    <a href="../View/View.html#methodsetController">View::setController()</a>
  </dt>
  <dd>
    impostra il controller a un certo valore
  </dd>
    <dt>
    <a href="../View/View.html#methodsetRequest">View::setRequest()</a>
  </dt>
  <dd>
    
  </dd>
    <dt>
    <a href="../View/View.html#methodsetTask">View::setTask()</a>
  </dt>
  <dd>
    impostra il task a un certo valore
  </dd>
    <dt>
    <a href="../View/View.html#methodunsetRequest">View::unsetRequest()</a>
  </dt>
  <dd>
    Elimina il contenuto di $_REQUEST
  </dd>
  </dl>
</div>
</td>

</tr></table>
<hr />

<a name="class_details"></a>
<h3>Class Details</h3>
<div class="tags">
[line 7]<br />
<br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
</div><br /><br />
<div class="top">[ <a href="#top">Top</a> ]</div><br />


<hr />
<a name="class_methods"></a>
<h3>Class Methods</h3>
<div class="tags">

  <hr />
	<a name="methodassegnaTabelle"></a>
	<h3>method assegnaTabelle <span class="smalllinenumber">[line 25]</span></h3>
	<div class="function">
    <table width="90%" border="0" cellspacing="0" cellpadding="1"><tr><td class="code_border">
    <table width="100%" border="0" cellspacing="0" cellpadding="2"><tr><td class="code">
		<code>void assegnaTabelle(
)</code>
    </td></tr></table>
    </td></tr></table><br />
	
		Assegna alla select i nomi delle tabelle<br /><br /><br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
<br /><br />

	
        <div class="top">[ <a href="#top">Top</a> ]</div>
  </div>
  <hr />
	<a name="methodgetContenuto"></a>
	<h3>method getContenuto <span class="smalllinenumber">[line 15]</span></h3>
	<div class="function">
    <table width="90%" border="0" cellspacing="0" cellpadding="1"><tr><td class="code_border">
    <table width="100%" border="0" cellspacing="0" cellpadding="2"><tr><td class="code">
		<code>string getContenuto(
string
$mainCont)</code>
    </td></tr></table>
    </td></tr></table><br />
	
		Ritorna il contenuto del template che si vuole visualizzare<br /><br /><br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
<br /><br />

	
        <h4>Parameters:</h4>
    <div class="tags">
    <table border="0" cellspacing="0" cellpadding="0">
          <tr>
        <td class="type">string&nbsp;&nbsp;</td>
        <td><b>$mainCont</b>&nbsp;&nbsp;</td>
        <td></td>
      </tr>
        </table>
    </div><br />
        <div class="top">[ <a href="#top">Top</a> ]</div>
  </div>
  <hr />
	<a name="methodgetErrore"></a>
	<h3>method getErrore <span class="smalllinenumber">[line 40]</span></h3>
	<div class="function">
    <table width="90%" border="0" cellspacing="0" cellpadding="1"><tr><td class="code_border">
    <table width="100%" border="0" cellspacing="0" cellpadding="2"><tr><td class="code">
		<code>array getErrore(
)</code>
    </td></tr></table>
    </td></tr></table><br />
	
		<br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>return:</b>&nbsp;&nbsp;</td><td>contiene il fisultato del fetch dei template main  di errore</td>
  </tr>
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
<br /><br />

	
        <div class="top">[ <a href="#top">Top</a> ]</div>
  </div>
  <hr />
	<a name="methodgetSuccesso"></a>
	<h3>method getSuccesso <span class="smalllinenumber">[line 50]</span></h3>
	<div class="function">
    <table width="90%" border="0" cellspacing="0" cellpadding="1"><tr><td class="code_border">
    <table width="100%" border="0" cellspacing="0" cellpadding="2"><tr><td class="code">
		<code>string getSuccesso(
)</code>
    </td></tr></table>
    </td></tr></table><br />
	
		Ritorna i template in caso di operazione andata a buon fine<br /><br /><br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
<br /><br />

	
        <div class="top">[ <a href="#top">Top</a> ]</div>
  </div>
  <hr />
	<a name="methodimpostaAccessoNegato"></a>
	<h3>method impostaAccessoNegato <span class="smalllinenumber">[line 61]</span></h3>
	<div class="function">
    <table width="90%" border="0" cellspacing="0" cellpadding="1"><tr><td class="code_border">
    <table width="100%" border="0" cellspacing="0" cellpadding="2"><tr><td class="code">
		<code>void impostaAccessoNegato(
[string
$errore = &quot;Errore!&quot;], [bool
$back = true])</code>
    </td></tr></table>
    </td></tr></table><br />
	
		Assegna gli errori ad visualzzare nella home. Esiste il default<br /><br /><br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
<br /><br />

	
        <h4>Parameters:</h4>
    <div class="tags">
    <table border="0" cellspacing="0" cellpadding="0">
          <tr>
        <td class="type">string&nbsp;&nbsp;</td>
        <td><b>$errore</b>&nbsp;&nbsp;</td>
        <td>la stringa che descrive l'errore</td>
      </tr>
          <tr>
        <td class="type">bool&nbsp;&nbsp;</td>
        <td><b>$back</b>&nbsp;&nbsp;</td>
        <td>un booleano, se posto a false, fa' sì che non compaia il link per tornare alla homepage</td>
      </tr>
        </table>
    </div><br />
        <div class="top">[ <a href="#top">Top</a> ]</div>
  </div>
  <hr />
	<a name="methodimpostaSuccesso"></a>
	<h3>method impostaSuccesso <span class="smalllinenumber">[line 72]</span></h3>
	<div class="function">
    <table width="90%" border="0" cellspacing="0" cellpadding="1"><tr><td class="code_border">
    <table width="100%" border="0" cellspacing="0" cellpadding="2"><tr><td class="code">
		<code>void impostaSuccesso(
[string
$successo = &quot;Complimenti! L'operazione è avvenuta con successo!&quot;], [bool
$back = true])</code>
    </td></tr></table>
    </td></tr></table><br />
	
		Assegna il messaggio di successo nella home<br /><br /><br /><br />
<h4>Tags:</h4>
<div class="tags">
<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><b>access:</b>&nbsp;&nbsp;</td><td>public</td>
  </tr>
</table>
</div>
<br /><br />

	
        <h4>Parameters:</h4>
    <div class="tags">
    <table border="0" cellspacing="0" cellpadding="0">
          <tr>
        <td class="type">string&nbsp;&nbsp;</td>
        <td><b>$successo</b>&nbsp;&nbsp;</td>
        <td></td>
      </tr>
          <tr>
        <td class="type">bool&nbsp;&nbsp;</td>
        <td><b>$back</b>&nbsp;&nbsp;</td>
        <td></td>
      </tr>
        </table>
    </div><br />
        <div class="top">[ <a href="#top">Top</a> ]</div>
  </div>
</div><br />


        <div class="credit">
		    <hr />
		    Documentation generated on Fri, 22 Jul 2011 12:03:45 +0200 by <a href="http://www.phpdoc.org">phpDocumentor 1.4.3</a>
	      </div>
      </td></tr></table>
    </td>
  </tr>
</table>

</body>
</html>